# Dataset cleaning process

In [496]:
import pandas as pd

In [497]:
import numpy as np

# 1 Load Data

In [498]:
df = pd.read_csv("messy_data.csv")

# 2 Inspect the data

In [499]:
df.head()

,Unnamed: 0,ID,Name,Age,Email,Join Date,Salary,Department
0,0,1e407ff9-6255-489d-a0de-34135d4f74bd,Hunter Thomas,25.0,xlopez@hotmail.com,NaN,88552.0,Sales
1,1,379f55b8-87d5-4739-a146-7400b78c24d1,Jeremy Irwin,90.0,Jillian Jenkins,2022-07-07,139227.0,NaN
2,2,18261368-dfa1-47f0-afc6-bddf45926b07,Jennifer Hammondquickly,66.0,jscottgreen.biz,2023-11-21,65550.0,Engineering
3,3,ae7cf7cf-17cf-4c8b-9c44-4f61a9a238e5,Sydney Taylorso,39.0,luke56gonzalez.com,2021-11-05,139932.0,SupportJ
4,4,14ed3e6a-e0f5-4bbe-8d93-8665267f5c90,Julia Lee,71.0,figueroakayla@yahoo.com,NaN,143456.0,Marketing

In [500]:
df.shape

(11000, 8)

In [501]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11000 entries, 0 to 10999
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  11000 non-null  int64
 1   ID          11000 non-null  object
 2   Name        8667 non-null   object
 3   Age         9253 non-null   float64
 4   Email       9731 non-null   object
 5   Join Date   8808 non-null   object
 6   Salary      8761 non-null   float64
 7   Department  8745 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 687.6+ KB

In [502]:
df.describe()

         Unnamed: 0          Age         Salary
count  11000.000000  9253.000000    8761.000000
mean    5012.947818    54.162650   89886.585012
std     2884.739158    21.072919   34896.320117
min        0.000000    18.000000   24655.136613
25%     2509.750000    36.000000   59723.844874
50%     5024.500000    54.000000   89241.000000
75%     7510.250000    72.000000  119491.000000
max     9999.000000    90.000000  176156.206747

In [503]:
df.columns

Index(['Unnamed: 0', 'ID', 'Name', 'Age', 'Email', 'Join Date', 'Salary',
       'Department'],
      dtype='object')

# 3 Handle Missing Values

In [504]:
df.isnull().sum()

Unnamed: 0       0
ID               0
Name          2333
Age           1747
Email         1269
Join Date     2192
Salary        2239
Department    2255
dtype: int64

In [505]:
df.dropna()

,Unnamed: 0,ID,Name,Age,Email,Join Date,Salary,Department
2,2,18261368-dfa1-47f0-afc6-bddf45926b07,Jennifer Hammondquickly,66.0,jscottgreen.biz,2023-11-21,65550.000000,Engineering
3,3,ae7cf7cf-17cf-4c8b-9c44-4f61a9a238e5,Sydney Taylorso,39.0,luke56gonzalez.com,2021-11-05,139932.000000,SupportJ
5,5,f92ea13f-24d3-4792-91e4-5b0e07d90c2c,Lisa Bailey,81.0,milleryvonne@fowler-york.com,15/10/2016,123018.000000,SupportE
6,6,c4892dbb-2554-4ce1-8f11-f6597d7f6782,Patricia Brown DVM,66.0,pperkinshotmail.com,17/09/2020,77311.000000,HR
9,9,d06f507d-62e5-4bd6-a252-4e60e109d324,Jay Fisher,44.0,denisemaynard@jordan.com,2022-12-08,37701.725993,HR
...,...,...,...,...,...,...,...,...
10990,3317,10c26512-ce3a-4387-b71a-47768503562e,Kimberly Cummings,54.0,rmccoy@hall.com,2020-06-11,60950.500220,Marketing
10991,9603,612011e6-101d-4ee2-bbca-16a5056d8217,Jeffrey Elliottnation,72.0,jpatterson@wise.org,2021-08-05,50510.777098,Support
10993,9510,796f8c0b-15a4-475c-bb02-ac892df0c746,Shelley Hopkinslive,79.0,Michael Walker,25/12/1992,47809.000000,HR
10998,7648,783b36b4-d09f-46c9-8a52-7ff96b80863e,Bonnie Benitez,37.0,roypark@warren.net,2020-10-09,147322.005171,Support
10999,7107,fc25a38a-5747-46eb-b6d3-7173f8255809,Caroline Ochoa,53.0,cdavis@hodges.com,2023-08-10,149224.000000,Support

In [506]:
df1 = df.fillna(df.mean(numeric_only = True))

In [507]:
df1

,Unnamed: 0,ID,Name,Age,Email,Join Date,Salary,Department
0,0,1e407ff9-6255-489d-a0de-34135d4f74bd,Hunter Thomas,25.00000,xlopez@hotmail.com,NaN,88552.000000,Sales
1,1,379f55b8-87d5-4739-a146-7400b78c24d1,Jeremy Irwin,90.00000,Jillian Jenkins,2022-07-07,139227.000000,NaN
2,2,18261368-dfa1-47f0-afc6-bddf45926b07,Jennifer Hammondquickly,66.00000,jscottgreen.biz,2023-11-21,65550.000000,Engineering
3,3,ae7cf7cf-17cf-4c8b-9c44-4f61a9a238e5,Sydney Taylorso,39.00000,luke56gonzalez.com,2021-11-05,139932.000000,SupportJ
4,4,14ed3e6a-e0f5-4bbe-8d93-8665267f5c90,Julia Lee,71.00000,figueroakayla@yahoo.com,NaN,143456.000000,Marketing
...,...,...,...,...,...,...,...,...
10995,6523,07c223be-03e6-4f70-a2b5-86df778cc61a,NaN,54.16265,NaN,NaN,89886.585012,NaN
10996,9785,da8a6bbc-5026-4630-848d-f64e80dac56c,Steven Armstrong,38.00000,molly89gmail.com,2021-06-24,89886.585012,Sales
10997,7826,ed19c966-d6d8-4047-b410-b6e595a39340,Stephanie Riossell,54.16265,robert96@pollard-frye.com,15/08/2006,122609.594149,HR
10998,7648,783b36b4-d09f-46c9-8a52-7ff96b80863e,Bonnie Benitez,37.00000,roypark@warren.net,2020-10-09,147322.005171,Support
10999,7107,fc25a38a-5747-46eb-b6d3-7173f8255809,Caroline Ochoa,53.00000,cdavis@hodges.com,2023-08-10,149224.000000,Support

In [508]:
df1.isnull().sum()

Unnamed: 0       0
ID               0
Name          2333
Age              0
Email         1269
Join Date     2192
Salary           0
Department    2255
dtype: int64

# 4 Remove Duplicates

In [509]:
df1.duplicated().sum()

np.int64(291)

In [510]:
dataset = df1.drop_duplicates()

In [511]:
dataset

,Unnamed: 0,ID,Name,Age,Email,Join Date,Salary,Department
0,0,1e407ff9-6255-489d-a0de-34135d4f74bd,Hunter Thomas,25.00000,xlopez@hotmail.com,NaN,88552.000000,Sales
1,1,379f55b8-87d5-4739-a146-7400b78c24d1,Jeremy Irwin,90.00000,Jillian Jenkins,2022-07-07,139227.000000,NaN
2,2,18261368-dfa1-47f0-afc6-bddf45926b07,Jennifer Hammondquickly,66.00000,jscottgreen.biz,2023-11-21,65550.000000,Engineering
3,3,ae7cf7cf-17cf-4c8b-9c44-4f61a9a238e5,Sydney Taylorso,39.00000,luke56gonzalez.com,2021-11-05,139932.000000,SupportJ
4,4,14ed3e6a-e0f5-4bbe-8d93-8665267f5c90,Julia Lee,71.00000,figueroakayla@yahoo.com,NaN,143456.000000,Marketing
...,...,...,...,...,...,...,...,...
10993,9510,796f8c0b-15a4-475c-bb02-ac892df0c746,Shelley Hopkinslive,79.00000,Michael Walker,25/12/1992,47809.000000,HR
10994,3978,6714ff24-3600-4c6e-8eed-5b4224bd9e44,Karen Wells,29.00000,cheryllewis@hotmail.com,NaN,147555.000000,Engineering
10996,9785,da8a6bbc-5026-4630-848d-f64e80dac56c,Steven Armstrong,38.00000,molly89gmail.com,2021-06-24,89886.585012,Sales
10997,7826,ed19c966-d6d8-4047-b410-b6e595a39340,Stephanie Riossell,54.16265,robert96@pollard-frye.com,15/08/2006,122609.594149,HR
10998,7648,783b36b4-d09f-46c9-8a52-7ff96b80863e,Bonnie Benitez,37.00000,roypark@warren.net,2020-10-09,147322.005171,Support

In [512]:
dataset.duplicated().sum()

np.int64(0)

# 5 Correct Email Format

In [513]:
import re

In [514]:
import re
def is_valid_email(email):
    return re.match(r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$', email)

def is_professional_email(email):
    return not any(domain in email for domain in ['hotmail', 'yahoo', 'gmail'])

In [515]:
dataset['Email'] = dataset['Email'].astype(str)
dataset['Email'] = dataset['Email'].apply(lambda x: x if is_valid_email(x) else None)
dataset.dropna(subset=['Email'], inplace=True)
dataset = dataset[dataset['Email'].apply(is_professional_email)]

C:\Users\asha\AppData\Local\Temp\ipykernel_10836\2679895539.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['Email'] = dataset['Email'].astype(str)
C:\Users\asha\AppData\Local\Temp\ipykernel_10836\2679895539.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['Email'] = dataset['Email'].apply(lambda x: x if is_valid_email(x) else None)
C:\Users\asha\AppData\Local\Temp\ipykernel_10836\2679895539.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset.dropna(subset=['Email'], inplace=True)

In [516]:
dataset

,Unnamed: 0,ID,Name,Age,Email,Join Date,Salary,Department
5,5,f92ea13f-24d3-4792-91e4-5b0e07d90c2c,Lisa Bailey,81.00000,milleryvonne@fowler-york.com,15/10/2016,123018.000000,SupportE
9,9,d06f507d-62e5-4bd6-a252-4e60e109d324,Jay Fisher,44.00000,denisemaynard@jordan.com,2022-12-08,37701.725993,HR
10,10,d5fe9321-49cf-4f14-ac96-7aea1204247b,Craig Conway,88.00000,gerald47@woodard-smith.com,NaN,81214.525972,Engineering
14,14,9b83a5e5-9516-493f-86f8-d6c445edb501,Nicole Cardenas,60.00000,griffinlinda@harrison.com,16/10/2003,51625.814403,Marketing
15,15,0074dbd5-10d0-463f-9b10-d8473bea04ba,NaN,22.00000,ericjohnson@castillo-mendez.net,2023-03-01,89886.585012,HR
...,...,...,...,...,...,...,...,...
10986,1558,a09fc4c8-eca3-4eec-bd4c-64540dcd2f7e,Madison Mclaughlin,74.00000,lorraineestrada@morgan.org,2024-03-24,50557.049244,Marketing
10990,3317,10c26512-ce3a-4387-b71a-47768503562e,Kimberly Cummings,54.00000,rmccoy@hall.com,2020-06-11,60950.500220,Marketing
10991,9603,612011e6-101d-4ee2-bbca-16a5056d8217,Jeffrey Elliottnation,72.00000,jpatterson@wise.org,2021-08-05,50510.777098,Support
10997,7826,ed19c966-d6d8-4047-b410-b6e595a39340,Stephanie Riossell,54.16265,robert96@pollard-frye.com,15/08/2006,122609.594149,HR
10998,7648,783b36b4-d09f-46c9-8a52-7ff96b80863e,Bonnie Benitez,37.00000,roypark@warren.net,2020-10-09,147322.005171,Support

# 6 Clean Name field

In [517]:
dataset['Name']

5                  Lisa Bailey
9                   Jay Fisher
10                Craig Conway
14             Nicole Cardenas
15                         NaN
                 ...
10986       Madison Mclaughlin
10990        Kimberly Cummings
10991    Jeffrey Elliottnation
10997       Stephanie Riossell
10998           Bonnie Benitez
Name: Name, Length: 3589, dtype: object

In [518]:
df1 = dataset.dropna()

In [519]:
df1

,Unnamed: 0,ID,Name,Age,Email,Join Date,Salary,Department
5,5,f92ea13f-24d3-4792-91e4-5b0e07d90c2c,Lisa Bailey,81.00000,milleryvonne@fowler-york.com,15/10/2016,123018.000000,SupportE
9,9,d06f507d-62e5-4bd6-a252-4e60e109d324,Jay Fisher,44.00000,denisemaynard@jordan.com,2022-12-08,37701.725993,HR
14,14,9b83a5e5-9516-493f-86f8-d6c445edb501,Nicole Cardenas,60.00000,griffinlinda@harrison.com,16/10/2003,51625.814403,Marketing
16,16,241e20d7-cc36-495e-86c2-2928bbaa93d8,Mark Wilkins,54.16265,longjennifer@parker.biz,17/02/1991,85794.000000,SalesX
21,21,7aa89cdd-e328-4425-9556-b0b3da9e4f2a,Danny Martinred,64.00000,amyclements@lee.biz,2022-08-30,89886.585012,HR
...,...,...,...,...,...,...,...,...
10986,1558,a09fc4c8-eca3-4eec-bd4c-64540dcd2f7e,Madison Mclaughlin,74.00000,lorraineestrada@morgan.org,2024-03-24,50557.049244,Marketing
10990,3317,10c26512-ce3a-4387-b71a-47768503562e,Kimberly Cummings,54.00000,rmccoy@hall.com,2020-06-11,60950.500220,Marketing
10991,9603,612011e6-101d-4ee2-bbca-16a5056d8217,Jeffrey Elliottnation,72.00000,jpatterson@wise.org,2021-08-05,50510.777098,Support
10997,7826,ed19c966-d6d8-4047-b410-b6e595a39340,Stephanie Riossell,54.16265,robert96@pollard-frye.com,15/08/2006,122609.594149,HR
10998,7648,783b36b4-d09f-46c9-8a52-7ff96b80863e,Bonnie Benitez,37.00000,roypark@warren.net,2020-10-09,147322.005171,Support

In [520]:
 import re

def clean_name(name):
    if isinstance(name, str):
        return re.sub(r'\b(Mr\.|Mrs\.|Ms\.|Dr\.|DDS|DVM)\b', '', name).strip()
    else:
        return name

df1['Name'] = df1['Name'].apply(clean_name)

C:\Users\asha\AppData\Local\Temp\ipykernel_10836\288057488.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Name'] = df1['Name'].apply(clean_name)

In [521]:
df1

,Unnamed: 0,ID,Name,Age,Email,Join Date,Salary,Department
5,5,f92ea13f-24d3-4792-91e4-5b0e07d90c2c,Lisa Bailey,81.00000,milleryvonne@fowler-york.com,15/10/2016,123018.000000,SupportE
9,9,d06f507d-62e5-4bd6-a252-4e60e109d324,Jay Fisher,44.00000,denisemaynard@jordan.com,2022-12-08,37701.725993,HR
14,14,9b83a5e5-9516-493f-86f8-d6c445edb501,Nicole Cardenas,60.00000,griffinlinda@harrison.com,16/10/2003,51625.814403,Marketing
16,16,241e20d7-cc36-495e-86c2-2928bbaa93d8,Mark Wilkins,54.16265,longjennifer@parker.biz,17/02/1991,85794.000000,SalesX
21,21,7aa89cdd-e328-4425-9556-b0b3da9e4f2a,Danny Martinred,64.00000,amyclements@lee.biz,2022-08-30,89886.585012,HR
...,...,...,...,...,...,...,...,...
10986,1558,a09fc4c8-eca3-4eec-bd4c-64540dcd2f7e,Madison Mclaughlin,74.00000,lorraineestrada@morgan.org,2024-03-24,50557.049244,Marketing
10990,3317,10c26512-ce3a-4387-b71a-47768503562e,Kimberly Cummings,54.00000,rmccoy@hall.com,2020-06-11,60950.500220,Marketing
10991,9603,612011e6-101d-4ee2-bbca-16a5056d8217,Jeffrey Elliottnation,72.00000,jpatterson@wise.org,2021-08-05,50510.777098,Support
10997,7826,ed19c966-d6d8-4047-b410-b6e595a39340,Stephanie Riossell,54.16265,robert96@pollard-frye.com,15/08/2006,122609.594149,HR
10998,7648,783b36b4-d09f-46c9-8a52-7ff96b80863e,Bonnie Benitez,37.00000,roypark@warren.net,2020-10-09,147322.005171,Support

# 7 Standerdize Date Formats

In [522]:
from datetime import datetime

In [523]:
def parse_date(date_str):
    for fmt in ('%Y-%m-%d', '%d/%m/%Y', '%m/%d/%Y'):
        try:
            return datetime.strptime(date_str, fmt).strftime('%Y-%m-%d')
        except ValueError:
            pass
    return None
df1.loc[:, 'Join Date'] = df1['Join Date'].apply(lambda x: parse_date(str(x)) if pd.notnull(x) else x)
df1.loc[:, 'Join Date'] = df1['Join Date'].fillna('1970-01-01')

In [524]:
df1

,Unnamed: 0,ID,Name,Age,Email,Join Date,Salary,Department
5,5,f92ea13f-24d3-4792-91e4-5b0e07d90c2c,Lisa Bailey,81.00000,milleryvonne@fowler-york.com,2016-10-15,123018.000000,SupportE
9,9,d06f507d-62e5-4bd6-a252-4e60e109d324,Jay Fisher,44.00000,denisemaynard@jordan.com,2022-12-08,37701.725993,HR
14,14,9b83a5e5-9516-493f-86f8-d6c445edb501,Nicole Cardenas,60.00000,griffinlinda@harrison.com,2003-10-16,51625.814403,Marketing
16,16,241e20d7-cc36-495e-86c2-2928bbaa93d8,Mark Wilkins,54.16265,longjennifer@parker.biz,1991-02-17,85794.000000,SalesX
21,21,7aa89cdd-e328-4425-9556-b0b3da9e4f2a,Danny Martinred,64.00000,amyclements@lee.biz,2022-08-30,89886.585012,HR
...,...,...,...,...,...,...,...,...
10986,1558,a09fc4c8-eca3-4eec-bd4c-64540dcd2f7e,Madison Mclaughlin,74.00000,lorraineestrada@morgan.org,2024-03-24,50557.049244,Marketing
10990,3317,10c26512-ce3a-4387-b71a-47768503562e,Kimberly Cummings,54.00000,rmccoy@hall.com,2020-06-11,60950.500220,Marketing
10991,9603,612011e6-101d-4ee2-bbca-16a5056d8217,Jeffrey Elliottnation,72.00000,jpatterson@wise.org,2021-08-05,50510.777098,Support
10997,7826,ed19c966-d6d8-4047-b410-b6e595a39340,Stephanie Riossell,54.16265,robert96@pollard-frye.com,2006-08-15,122609.594149,HR
10998,7648,783b36b4-d09f-46c9-8a52-7ff96b80863e,Bonnie Benitez,37.00000,roypark@warren.net,2020-10-09,147322.005171,Support

# 8 Correct Department Names

In [525]:
import pandas as pd

In [526]:
df1['Department'].unique()

array(['SupportE', 'HR', 'Marketing', 'SalesX', 'Engineeringi',
       'Engineering', 'MarketingU', 'Support', 'Marketingv',
       'EngineeringL', 'Sales', 'Salesj', 'Marketingr', 'SupportC',
       'SalesN', 'SupportB', 'HRi', 'Engineeringp', 'Supportg',
       'Supporto', 'Marketingw', 'EngineeringM', 'Salesy', 'Marketingm',
       'HRw', 'EngineeringH', 'EngineeringD', 'Marketingp', 'Marketingz',
       'SupportT', 'Salesz', 'Marketingt', 'SupportS', 'HRv',
       'EngineeringR', 'MarketingQ', 'Saless', 'Salesn', 'SalesE',
       'MarketingO', 'SalesD', 'HRy', 'HRz', 'SalesI', 'Salesu',
       'Supportk', 'MarketingE', 'Marketingk', 'SupportA', 'Supporte',
       'Engineeringu', 'EngineeringO', 'SalesK', 'HRK', 'Engineeringb',
       'SalesV', 'SupportY', 'Supportp', 'MarketingX', 'HRU', 'SalesF',
       'SalesS', 'MarketingD', 'MarketingF', 'EngineeringC',
       'Engineeringe', 'Engineeringz', 'HRP', 'Salesv', 'HRI',
       'Engineeringl', 'SupportH', 'HRL', 'HRW', 'HRm', 'Supportd', 'HRZ',
       'SupportJ', 'Marketingl', 'MarketingZ', 'Engineeringg', 'Salesc',
       'EngineeringJ', 'Engineeringh', 'SupportQ', 'EngineeringG',
       'SalesH', 'SupportV', 'HRq', 'Marketingb', 'Engineeringc', 'HRs',
       'SupportL', 'Salese', 'HRX', 'EngineeringE', 'MarketingG',
       'SupportP', 'HRf', 'MarketingB', 'MarketingN', 'Engineeringf',
       'HRA', 'HRp', 'Supporta', 'MarketingV', 'EngineeringZ', 'HRM',
       'MarketingC', 'HRE', 'Supporti', 'Engineerings', 'Supportb', 'HRg',
       'Salesl', 'Engineeringd', 'HRN', 'MarketingT', 'HRR',
       'Engineeringw', 'EngineeringV', 'SupportO', 'Marketingh',
       'SupportG', 'Marketingc', 'HRl', 'SupportK', 'Supportn',
       'EngineeringU', 'Supportx', 'Engineeringq', 'SalesB', 'Salesp',
       'Salesk', 'HRb', 'Engineeringx', 'Supports', 'Supportr',
       'EngineeringW', 'HRC', 'Marketingj', 'EngineeringI', 'MarketingM',
       'Marketingq', 'Engineeringr', 'HRF', 'Marketingf', 'Engineeringa',
       'SalesA', 'SupportU', 'Marketingy', 'Marketinge', 'HRu', 'SalesZ',
       'EngineeringF', 'Supportt', 'Salesd', 'SalesL', 'HRe', 'Supportm',
       'EngineeringX', 'EngineeringN', 'SupportM', 'HRV', 'HRG',
       'Engineeringv', 'HRr', 'Supportc', 'MarketingK', 'MarketingS',
       'Marketingn', 'Engineeringm', 'Engineeringn', 'EngineeringS',
       'Engineeringj', 'HRt', 'MarketingR', 'EngineeringP', 'SalesY',
       'MarketingJ', 'Engineeringy', 'Marketingd', 'Salesi', 'SupportI',
       'Saleso', 'HRS', 'SupportD', 'SalesJ', 'Salesf', 'HRj', 'SupportF',
       'SalesM', 'Supportl', 'Salesw', 'Salesg', 'HRk', 'SupportR',
       'SupportX', 'Supportu', 'HRd', 'EngineeringT', 'Engineeringt',
       'Engineeringk', 'SupportW', 'Salesm', 'Marketinga', 'HRh', 'HRH',
       'HRa', 'HRB', 'MarketingW', 'SalesU', 'Marketingu', 'Supporty',
       'EngineeringQ', 'Supporth', 'Marketingi', 'EngineeringA', 'SalesO',
       'Supportf', 'Supportw', 'HRT', 'Salesa', 'Supportz', 'SalesG',
       'Marketings', 'SalesQ', 'MarketingL', 'MarketingP', 'HRY',
       'SalesR', 'HRO'], dtype=object)

In [527]:
df1.loc[:, 'Department'] = df1['Department'].str.strip()

In [528]:
corrections = {'SupportE':'Support', 'HR':'HR', 'Marketing':'Marketing', 'SalesX':'Sales', 'Engineeringi':'Engineering',
       'Engineering':'Engineering', 'MarketingU':'Marketing', 'Support':'Support', 'Marketingv':'Marketing',
       'EngineeringL':'Engineering', 'Sales':'Sales', 'Salesj':'Sales', 'Marketingr':'Marketing', 'SupportC':'Support',
       'SalesN':'Sales', 'SupportB':'Support', 'HRi':'HR', 'Engineeringp':'Engineering', 'Supportg':'Support',
       'Supporto':'Support', 'Marketingw':'Marketing', 'EngineeringM':'Engineering', 'Sales':'Sales', 'Marketingm':'Marketing',
       'HRw':'HR', 'EngineeringH':'Engineering', 'EngineeringD':'Engineering', 'Marketingp':'Marketing', 'Marketingz':'Marketing',
       'SupportT':'Support', 'Salesz':'Sales', 'Marketingt':'Marketing', 'SupportS':'Support', 'HRv':'HR',
       'EngineeringR':'Engineering', 'MarketingQ':'Marketing', 'Saless':'Sales', 'Salesn':'Sales', 'SalesE':'Sales',
       'MarketingO':'Marketing', 'SalesD':'Sales', 'HRy':'HR', 'HRz':'HR', 'SalesI':'Sales', 'Salesu':'Sales',
       'Supportk':'Support', 'MarketingE':'Marketing', 'Marketingk':'Marketing', 'SupportA':'Support', 'Supporte':'Support',
       'Engineeringu':'Engineering', 'EngineeringO':'Engineering', 'SalesK':'Sales', 'HRK':'HR', 'Engineeringb':'Engineering',
       'SalesV':'Sales', 'SupportY':'Support', 'Supportp':'Support', 'MarketingX':'Marketing', 'HRU':'HR', 'SalesF':'Sales',
       'SalesS':'Sales', 'MarketingD':'Marketing', 'MarketingF':'Marketing', 'EngineeringC':'Engineering',
       'Engineeringe':'Engineering', 'Engineeringz':'Engineering', 'HRP':'HR', 'Salesv':'Sales', 'HRI':'HR',
       'Engineeringl':'Engineering', 'SupportH':'Support', 'HRL':'HR', 'HRW':'HR', 'HRm':'HR', 'Supportd':'Support', 'HRZ':'HR',
       'SupportJ':'Support', 'Marketingl':'Marketing', 'MarketingZ':'Marketing', 'Engineeringg':'Engineering', 'Salesc':'Sales',
       'EngineeringJ':'Engineering', 'Engineeringh':'Engineering', 'SupportQ':'Support', 'EngineeringG':'Engineering',
       'SalesH':'Sales', 'SupportV':'Support', 'HRq':'HR', 'Marketingb':'Marketing', 'Engineeringc':'Engineering', 'HRs':'HR',
       'SupportL':'Support', 'Salese':'Sales', 'HRX':'HR', 'EngineeringE':'Engineering', 'MarketingG':'Marketing',
       'SupportP':'Support', 'HRf':'HR', 'MarketingB':'Marketing', 'MarketingN':'Marketing', 'Engineeringf':'Engineering',
       'HRA':'HR', 'HRp':'HR', 'Supporta':'Support', 'MarketingV':'Marketing', 'EngineeringZ':'Engineering', 'HRM':'HR',
       'MarketingC':'Marketing', 'HRE':'HR', 'Supporti':'Support', 'Engineerings':'Engineering', 'Supportb':'Support', 'HRg':'HR',
       'Salesl':'Sales', 'Engineeringd':'Engineering', 'HRN':'HR', 'MarketingT':'Marketing', 'HRR':'HR',
       'Engineeringw':'Engineering', 'EngineeringV':'Engineering', 'SupportO':'Support', 'Marketingh':'Marketing',
       'SupportG':'Support', 'Marketingc':'Marketing', 'HRl':'HR', 'SupportK':'Support', 'Supportn':'Support',
       'EngineeringU':'Engineering', 'Supportx':'Support', 'Engineeringq':'Engineering', 'SalesB':'Sales', 'Salesp':'Sales',
       'Salesk':'Sales', 'HRb':'HR', 'Engineeringx':'Engineering', 'Supports':'Support', 'Supportr':'Support',
       'EngineeringW':'Engineering', 'HRC':'HR', 'Marketingj':'Marketing', 'EngineeringI':'Engineering', 'MarketingM':'Marketing',
       'Marketingq':'Marketing', 'Engineeringr':'Engineering', 'HRF':'HR', 'Marketingf':'Marketing', 'Engineeringa':'Engineering',
       'SalesA':'Sales', 'SupportU':'Support', 'Marketingy':'Marketing', 'Marketinge':'Marketing', 'HRu':'HR', 'SalesZ':'Sales',
       'EngineeringF':'Engineering', 'Supportt':'Support', 'Salesd':'Sales', 'SalesL':'Sales', 'HRe':'HR', 'Supportm':'Support',
       'EngineeringX':'Engineering', 'EngineeringN':'Engineering', 'SupportM':'Support', 'HRV':'HR', 'HRG':'HR',
       'Engineeringv':'Engineering', 'HRr':'HR', 'Supportc':'Support', 'MarketingK':'Marketing', 'MarketingS':'Marketing',
       'Marketingn':'Marketing', 'Engineeringm':'Engineering', 'Engineeringn':'Engineering', 'EngineeringS':'Engineering',
       'Engineeringj':'Engineering', 'HRt':'HR', 'MarketingR':'Marketing', 'EngineeringP':'Engineering', 'SalesY':'Sales',
       'MarketingJ':'Marketing', 'Engineeringy':'Engineering', 'Marketingd':'Marketing', 'Salesi':'Sales', 'SupportI':'Support',
       'Saleso':'Sales', 'HRS':'HR', 'SupportD':'Support', 'SalesJ':'Sales', 'Salesf':'Sales', 'HRj':'HR', 'SupportF':'Support',
       'SalesM':'Sales', 'Supportl':'Support', 'Salesw':'Sales', 'Salesg':'Sales', 'HRk':'HR', 'SupportR':'Support',
       'SupportX':'Support', 'Supportu':'Support', 'HRd':'HR', 'EngineeringT':'Engineering', 'Engineeringt':'Engineering',
       'Engineeringk':'Engineering', 'SupportW':'Support', 'Salesm':'Sales', 'Marketinga':'Marketing', 'HRh':'HR', 'HRH':'HR',
       'HRa':'HR', 'HRB':'HR', 'MarketingW':'Marketing', 'SalesU':'Sales', 'Marketingu':'Marketing', 'Supporty':'Support',
       'EngineeringQ':'Engineering', 'Supporth':'Support', 'Marketingi':'Marketing', 'EngineeringA':'Engineering', 'SalesO':'Sales',
       'Supportf':'Support', 'Supportw':'Support', 'HRT':'HR', 'Salesa':'Sales', 'Supportz':'Support', 'SalesG':'Sales',
       'Marketings':'Marketing', 'SalesQ':'Sales', 'MarketingL':'Marketing', 'MarketingP':'Marketing', 'HRY':'HR',
       'SalesR':'Sales', 'HRO':'HR'}

In [529]:
df1.loc[:, 'Department'] = df1['Department'].replace(corrections)

In [530]:
df1.loc[:, 'Department'] = df1['Department'].fillna('unknown')

In [531]:
df1.loc[:, 'Department'] = df1['Department'].str.replace('&','and')

In [532]:
df1['Department'].unique()

array(['Support', 'HR', 'Marketing', 'Sales', 'Engineering', 'Salesy'],
      dtype=object)

In [533]:
df1

,Unnamed: 0,ID,Name,Age,Email,Join Date,Salary,Department
5,5,f92ea13f-24d3-4792-91e4-5b0e07d90c2c,Lisa Bailey,81.00000,milleryvonne@fowler-york.com,2016-10-15,123018.000000,Support
9,9,d06f507d-62e5-4bd6-a252-4e60e109d324,Jay Fisher,44.00000,denisemaynard@jordan.com,2022-12-08,37701.725993,HR
14,14,9b83a5e5-9516-493f-86f8-d6c445edb501,Nicole Cardenas,60.00000,griffinlinda@harrison.com,2003-10-16,51625.814403,Marketing
16,16,241e20d7-cc36-495e-86c2-2928bbaa93d8,Mark Wilkins,54.16265,longjennifer@parker.biz,1991-02-17,85794.000000,Sales
21,21,7aa89cdd-e328-4425-9556-b0b3da9e4f2a,Danny Martinred,64.00000,amyclements@lee.biz,2022-08-30,89886.585012,HR
...,...,...,...,...,...,...,...,...
10986,1558,a09fc4c8-eca3-4eec-bd4c-64540dcd2f7e,Madison Mclaughlin,74.00000,lorraineestrada@morgan.org,2024-03-24,50557.049244,Marketing
10990,3317,10c26512-ce3a-4387-b71a-47768503562e,Kimberly Cummings,54.00000,rmccoy@hall.com,2020-06-11,60950.500220,Marketing
10991,9603,612011e6-101d-4ee2-bbca-16a5056d8217,Jeffrey Elliottnation,72.00000,jpatterson@wise.org,2021-08-05,50510.777098,Support
10997,7826,ed19c966-d6d8-4047-b410-b6e595a39340,Stephanie Riossell,54.16265,robert96@pollard-frye.com,2006-08-15,122609.594149,HR
10998,7648,783b36b4-d09f-46c9-8a52-7ff96b80863e,Bonnie Benitez,37.00000,roypark@warren.net,2020-10-09,147322.005171,Support

In [534]:
df1['Salary'] = df1['Salary'].astype(int)
df1['Age'] = df1['Age'].astype(int)

C:\Users\asha\AppData\Local\Temp\ipykernel_10836\2498591251.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Salary'] = df1['Salary'].astype(int)
C:\Users\asha\AppData\Local\Temp\ipykernel_10836\2498591251.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Age'] = df1['Age'].astype(int)

In [535]:
df1

,Unnamed: 0,ID,Name,Age,Email,Join Date,Salary,Department
5,5,f92ea13f-24d3-4792-91e4-5b0e07d90c2c,Lisa Bailey,81,milleryvonne@fowler-york.com,2016-10-15,123018,Support
9,9,d06f507d-62e5-4bd6-a252-4e60e109d324,Jay Fisher,44,denisemaynard@jordan.com,2022-12-08,37701,HR
14,14,9b83a5e5-9516-493f-86f8-d6c445edb501,Nicole Cardenas,60,griffinlinda@harrison.com,2003-10-16,51625,Marketing
16,16,241e20d7-cc36-495e-86c2-2928bbaa93d8,Mark Wilkins,54,longjennifer@parker.biz,1991-02-17,85794,Sales
21,21,7aa89cdd-e328-4425-9556-b0b3da9e4f2a,Danny Martinred,64,amyclements@lee.biz,2022-08-30,89886,HR
...,...,...,...,...,...,...,...,...
10986,1558,a09fc4c8-eca3-4eec-bd4c-64540dcd2f7e,Madison Mclaughlin,74,lorraineestrada@morgan.org,2024-03-24,50557,Marketing
10990,3317,10c26512-ce3a-4387-b71a-47768503562e,Kimberly Cummings,54,rmccoy@hall.com,2020-06-11,60950,Marketing
10991,9603,612011e6-101d-4ee2-bbca-16a5056d8217,Jeffrey Elliottnation,72,jpatterson@wise.org,2021-08-05,50510,Support
10997,7826,ed19c966-d6d8-4047-b410-b6e595a39340,Stephanie Riossell,54,robert96@pollard-frye.com,2006-08-15,122609,HR
10998,7648,783b36b4-d09f-46c9-8a52-7ff96b80863e,Bonnie Benitez,37,roypark@warren.net,2020-10-09,147322,Support

In [536]:
df1.rename(columns = {'Unnamed: 0':'Index'}, inplace = True)

C:\Users\asha\AppData\Local\Temp\ipykernel_10836\3028292720.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.rename(columns = {'Unnamed: 0':'Index'}, inplace = True)

In [537]:
df1

,Index,ID,Name,Age,Email,Join Date,Salary,Department
5,5,f92ea13f-24d3-4792-91e4-5b0e07d90c2c,Lisa Bailey,81,milleryvonne@fowler-york.com,2016-10-15,123018,Support
9,9,d06f507d-62e5-4bd6-a252-4e60e109d324,Jay Fisher,44,denisemaynard@jordan.com,2022-12-08,37701,HR
14,14,9b83a5e5-9516-493f-86f8-d6c445edb501,Nicole Cardenas,60,griffinlinda@harrison.com,2003-10-16,51625,Marketing
16,16,241e20d7-cc36-495e-86c2-2928bbaa93d8,Mark Wilkins,54,longjennifer@parker.biz,1991-02-17,85794,Sales
21,21,7aa89cdd-e328-4425-9556-b0b3da9e4f2a,Danny Martinred,64,amyclements@lee.biz,2022-08-30,89886,HR
...,...,...,...,...,...,...,...,...
10986,1558,a09fc4c8-eca3-4eec-bd4c-64540dcd2f7e,Madison Mclaughlin,74,lorraineestrada@morgan.org,2024-03-24,50557,Marketing
10990,3317,10c26512-ce3a-4387-b71a-47768503562e,Kimberly Cummings,54,rmccoy@hall.com,2020-06-11,60950,Marketing
10991,9603,612011e6-101d-4ee2-bbca-16a5056d8217,Jeffrey Elliottnation,72,jpatterson@wise.org,2021-08-05,50510,Support
10997,7826,ed19c966-d6d8-4047-b410-b6e595a39340,Stephanie Riossell,54,robert96@pollard-frye.com,2006-08-15,122609,HR
10998,7648,783b36b4-d09f-46c9-8a52-7ff96b80863e,Bonnie Benitez,37,roypark@warren.net,2020-10-09,147322,Support

In [538]:
def remove_special_chars_and_alphabets(s):
    return
    ' '.join(filter(str.isdigit,s))

In [539]:
df1['Cleaned'] = df1['ID'].apply(remove_special_chars_and_alphabets)

C:\Users\asha\AppData\Local\Temp\ipykernel_10836\896066485.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Cleaned'] = df1['ID'].apply(remove_special_chars_and_alphabets)

In [540]:
df1

,Index,ID,Name,Age,Email,Join Date,Salary,Department,Cleaned
5,5,f92ea13f-24d3-4792-91e4-5b0e07d90c2c,Lisa Bailey,81,milleryvonne@fowler-york.com,2016-10-15,123018,Support,None
9,9,d06f507d-62e5-4bd6-a252-4e60e109d324,Jay Fisher,44,denisemaynard@jordan.com,2022-12-08,37701,HR,None
14,14,9b83a5e5-9516-493f-86f8-d6c445edb501,Nicole Cardenas,60,griffinlinda@harrison.com,2003-10-16,51625,Marketing,None
16,16,241e20d7-cc36-495e-86c2-2928bbaa93d8,Mark Wilkins,54,longjennifer@parker.biz,1991-02-17,85794,Sales,None
21,21,7aa89cdd-e328-4425-9556-b0b3da9e4f2a,Danny Martinred,64,amyclements@lee.biz,2022-08-30,89886,HR,None
...,...,...,...,...,...,...,...,...,...
10986,1558,a09fc4c8-eca3-4eec-bd4c-64540dcd2f7e,Madison Mclaughlin,74,lorraineestrada@morgan.org,2024-03-24,50557,Marketing,None
10990,3317,10c26512-ce3a-4387-b71a-47768503562e,Kimberly Cummings,54,rmccoy@hall.com,2020-06-11,60950,Marketing,None
10991,9603,612011e6-101d-4ee2-bbca-16a5056d8217,Jeffrey Elliottnation,72,jpatterson@wise.org,2021-08-05,50510,Support,None
10997,7826,ed19c966-d6d8-4047-b410-b6e595a39340,Stephanie Riossell,54,robert96@pollard-frye.com,2006-08-15,122609,HR,None
10998,7648,783b36b4-d09f-46c9-8a52-7ff96b80863e,Bonnie Benitez,37,roypark@warren.net,2020-10-09,147322,Support,None

In [541]:
import re
def remove_non_numeric(id_string):
    return re.sub(r'\D', '', id_string)
df1['Cleaned_ID'] = df['ID'].apply(remove_non_numeric)
df1

C:\Users\asha\AppData\Local\Temp\ipykernel_10836\1958286097.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Cleaned_ID'] = df['ID'].apply(remove_non_numeric)

,Index,ID,Name,Age,Email,Join Date,Salary,Department,Cleaned,Cleaned_ID
5,5,f92ea13f-24d3-4792-91e4-5b0e07d90c2c,Lisa Bailey,81,milleryvonne@fowler-york.com,2016-10-15,123018,Support,None,921324347929145007902
9,9,d06f507d-62e5-4bd6-a252-4e60e109d324,Jay Fisher,44,denisemaynard@jordan.com,2022-12-08,37701,HR,None,0650762546252460109324
14,14,9b83a5e5-9516-493f-86f8-d6c445edb501,Nicole Cardenas,60,griffinlinda@harrison.com,2003-10-16,51625,Marketing,None,9835595164938686445501
16,16,241e20d7-cc36-495e-86c2-2928bbaa93d8,Mark Wilkins,54,longjennifer@parker.biz,1991-02-17,85794,Sales,None,241207364958622928938
21,21,7aa89cdd-e328-4425-9556-b0b3da9e4f2a,Danny Martinred,64,amyclements@lee.biz,2022-08-30,89886,HR,None,7893284425955603942
...,...,...,...,...,...,...,...,...,...,...
10986,1558,a09fc4c8-eca3-4eec-bd4c-64540dcd2f7e,Madison Mclaughlin,74,lorraineestrada@morgan.org,2024-03-24,50557,Marketing,None,09483446454027
10990,3317,10c26512-ce3a-4387-b71a-47768503562e,Kimberly Cummings,54,rmccoy@hall.com,2020-06-11,60950,Marketing,None,1026512343877147768503562
10991,9603,612011e6-101d-4ee2-bbca-16a5056d8217,Jeffrey Elliottnation,72,jpatterson@wise.org,2021-08-05,50510,Support,None,6120116101421650568217
10997,7826,ed19c966-d6d8-4047-b410-b6e595a39340,Stephanie Riossell,54,robert96@pollard-frye.com,2006-08-15,122609,HR,None,19966684047410659539340
10998,7648,783b36b4-d09f-46c9-8a52-7ff96b80863e,Bonnie Benitez,37,roypark@warren.net,2020-10-09,147322,Support,None,7833640946985279680863

In [542]:
df1.columns = df1.columns.str.strip()

In [543]:
df1.columns

Index(['Index', 'ID', 'Name', 'Age', 'Email', 'Join Date', 'Salary',
       'Department', 'Cleaned', 'Cleaned_ID'],
      dtype='object')

In [544]:
new_order = ['Index','Cleaned_ID', 'Name','Age','Email','Join Date','Salary','Department']

In [545]:
df1 = df1[new_order]

In [546]:
df1

,Index,Cleaned_ID,Name,Age,Email,Join Date,Salary,Department
5,5,921324347929145007902,Lisa Bailey,81,milleryvonne@fowler-york.com,2016-10-15,123018,Support
9,9,0650762546252460109324,Jay Fisher,44,denisemaynard@jordan.com,2022-12-08,37701,HR
14,14,9835595164938686445501,Nicole Cardenas,60,griffinlinda@harrison.com,2003-10-16,51625,Marketing
16,16,241207364958622928938,Mark Wilkins,54,longjennifer@parker.biz,1991-02-17,85794,Sales
21,21,7893284425955603942,Danny Martinred,64,amyclements@lee.biz,2022-08-30,89886,HR
...,...,...,...,...,...,...,...,...
10986,1558,09483446454027,Madison Mclaughlin,74,lorraineestrada@morgan.org,2024-03-24,50557,Marketing
10990,3317,1026512343877147768503562,Kimberly Cummings,54,rmccoy@hall.com,2020-06-11,60950,Marketing
10991,9603,6120116101421650568217,Jeffrey Elliottnation,72,jpatterson@wise.org,2021-08-05,50510,Support
10997,7826,19966684047410659539340,Stephanie Riossell,54,robert96@pollard-frye.com,2006-08-15,122609,HR
10998,7648,7833640946985279680863,Bonnie Benitez,37,roypark@warren.net,2020-10-09,147322,Support

In [547]:
df1.sort_values(by = 'Name', inplace = True)

C:\Users\asha\AppData\Local\Temp\ipykernel_10836\1033937918.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.sort_values(by = 'Name', inplace = True)

In [548]:
df1

,Index,Cleaned_ID,Name,Age,Email,Join Date,Salary,Department
6451,6451,62949814082045508359,Aaron Allenwife,68,starkscott@thomas.info,2022-10-18,130266,Engineering
6680,6680,5726604495230811,Aaron Hardin,57,simpsoncassandra@smith.info,2021-03-01,131588,Engineering
9978,9978,41821584408932166469801,Aaron Hill,77,michaelgibbs@nguyen-martin.com,2020-07-13,89886,Engineering
9590,9590,463978245427737681107,Aaron Long,42,faulknerrebecca@bush.net,2020-09-20,92138,Marketing
9667,9667,2061096114658933326229,Aaron Padilla,46,cherryaudrey@wheeler.net,2020-03-09,44771,Support
...,...,...,...,...,...,...,...,...
3789,3789,7984048963388295,Yvonne Williams,72,sharon21@rodriguez.com,2022-11-30,89886,Engineering
9756,9756,812914759930592167,Zachary Green,81,breese@walsh-perez.com,2022-08-14,112693,Sales
6152,6152,62368224823979620,Zachary Weaver,54,uwatts@rose-singleton.com,2020-07-04,123374,Engineering
9226,9226,22266724424960814094469,Zachary Zhangpopulation,51,cooperangela@smith.net,2023-10-28,54561,Support
3038,3038,1682562214808420766005603,Zoe Baxter,27,moyertara@freeman.com,2020-08-10,118295,Support

In [549]:
df1.Index = range(1,len(df1)+1)

C:\Users\asha\AppData\Local\Temp\ipykernel_10836\3238925986.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.Index = range(1,len(df1)+1)

In [550]:
df1

,Index,Cleaned_ID,Name,Age,Email,Join Date,Salary,Department
6451,1,62949814082045508359,Aaron Allenwife,68,starkscott@thomas.info,2022-10-18,130266,Engineering
6680,2,5726604495230811,Aaron Hardin,57,simpsoncassandra@smith.info,2021-03-01,131588,Engineering
9978,3,41821584408932166469801,Aaron Hill,77,michaelgibbs@nguyen-martin.com,2020-07-13,89886,Engineering
9590,4,463978245427737681107,Aaron Long,42,faulknerrebecca@bush.net,2020-09-20,92138,Marketing
9667,5,2061096114658933326229,Aaron Padilla,46,cherryaudrey@wheeler.net,2020-03-09,44771,Support
...,...,...,...,...,...,...,...,...
3789,2594,7984048963388295,Yvonne Williams,72,sharon21@rodriguez.com,2022-11-30,89886,Engineering
9756,2595,812914759930592167,Zachary Green,81,breese@walsh-perez.com,2022-08-14,112693,Sales
6152,2596,62368224823979620,Zachary Weaver,54,uwatts@rose-singleton.com,2020-07-04,123374,Engineering
9226,2597,22266724424960814094469,Zachary Zhangpopulation,51,cooperangela@smith.net,2023-10-28,54561,Support
3038,2598,1682562214808420766005603,Zoe Baxter,27,moyertara@freeman.com,2020-08-10,118295,Support

In [551]:
df1.isnull().sum()

Index         0
Cleaned_ID    0
Name          0
Age           0
Email         0
Join Date     0
Salary        0
Department    0
dtype: int64

# 9 Handle Salary noise

In [552]:
df1 = df1[df1['Salary'].between(30000,200000)]

In [553]:
df1

,Index,Cleaned_ID,Name,Age,Email,Join Date,Salary,Department
6451,1,62949814082045508359,Aaron Allenwife,68,starkscott@thomas.info,2022-10-18,130266,Engineering
6680,2,5726604495230811,Aaron Hardin,57,simpsoncassandra@smith.info,2021-03-01,131588,Engineering
9978,3,41821584408932166469801,Aaron Hill,77,michaelgibbs@nguyen-martin.com,2020-07-13,89886,Engineering
9590,4,463978245427737681107,Aaron Long,42,faulknerrebecca@bush.net,2020-09-20,92138,Marketing
9667,5,2061096114658933326229,Aaron Padilla,46,cherryaudrey@wheeler.net,2020-03-09,44771,Support
...,...,...,...,...,...,...,...,...
3789,2594,7984048963388295,Yvonne Williams,72,sharon21@rodriguez.com,2022-11-30,89886,Engineering
9756,2595,812914759930592167,Zachary Green,81,breese@walsh-perez.com,2022-08-14,112693,Sales
6152,2596,62368224823979620,Zachary Weaver,54,uwatts@rose-singleton.com,2020-07-04,123374,Engineering
9226,2597,22266724424960814094469,Zachary Zhangpopulation,51,cooperangela@smith.net,2023-10-28,54561,Support
3038,2598,1682562214808420766005603,Zoe Baxter,27,moyertara@freeman.com,2020-08-10,118295,Support

In [554]:
df1.to_csv('Cleaned_data.csv',index = False)